@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{ /*VARIABLES DE LAS TARJETAS (COLORES)*/
    --azul: #177F9F;

    --negro: #121212;

    --negroSections: #040404;

    --grisclaro: #F3F3F3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.aside{ /*CONTENEDOR DE LAS TARJETAS*/
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    min-width: 300px;
    height: 100vh;
    padding: 20px;
}
    
    .card{ /*ESTILOS DE LAS TARJETAS*/
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 2px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    }
        .top__card{ /*CONTENEDOR DEL TITULO Y LOS CIRCULOS ARRIBA*/
            display: flex;
            flex-flow: row nowrap; 
            width: 100%;
            align-items: center;
            justify-content: space-between;
            height: 20%
        }
        
        
            .title__card{ /*ESTILOS DEL TITULO*/
                font-weight: 300;
                width: 50%;
                
            }
            .colors__card{ /*CONTENEDOR DE LOS CIRCULOS ARRIBA*/
                display: flex;
                flex-flow: row nowrap;
                
            }
                .circle{ /*ESTILOS DE LOS CIRCULOS ARRIBA*/
                    width: 5px;
                    padding: 5px;
                    border-radius: 10px;
                    margin: 2px;
                }
                    .green{
                        background-color: green;
                    }
                    .blue{
                        background-color: var(--azul);
                    }
                    .yellow{
                        background-color: #f1f100;
                    }

        .date__card{ /*ESTILOS DE LA FECHA*/  
            color: #868686;
            margin-bottom: 10px;
        }  
        .input__card{ /*CONTENEDOR DEL CUADRO DE TEXTO*/
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 50%
        }   
            .description__card{ /*ESTILOS DEL CUADRO DE TEXTO*/
                width: 100%;
                padding: 5px;
                padding-bottom: 100px;
                border: 0;
                border-radius: 10px;
                color: #000;
                background-color: var(--grisclaro);
            }
        .bottom__card{ /*CONTENEDOR DE LOS BOTONES*/
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 20%;
        }
            .desplegable__button{ /*CONTENEDOR MENÚ DESPLEGABLE*/
                display: flex;
                flex-flow: row nowrap;
                transition: all 0.5s ease;
            }
                .desplegable__button:hover .links__add{
                    display: block;
                }
                .add__card{ /*ESTILOS DEL BOTON IZQUIERDO*/
                    width: 30px;
                    height: 30px;
                    border: none;
                    background: none;
                }
                    .bxs-plus-circle{ /*ESTILOS DEL ICONO BOTON IZQUIERDO*/
                        font-size: 30px;
                        color: var(--azul);
                    }
                .links__add{
                    display: none;
                    transition: all 0.5s ease;
                    
                }
            .save__card{ /*ESTILOS DEL BOTON DERECHO*/
                border: 0;
                color: #fff;
                background-color: var(--azul);
                text-align: center;
                width: 100px;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }

/*CONTENEDOR DE LAS TARJETAS*/
              
@media screen and (max-width: 900px) {


    
}